.spinner {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.marginLeft {
	margin-left: 20px;
}

#message-box {
	margin-top: 20px;
}

.bold {
	font-weight: bold;
}

hr {
	border-color: #999;
}
.bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-label {
	padding: 8px !important;
}
